{{>layout/header}}
{{>layout/nav}}
<script src="/js/app/addOrder.js"></script>
<script>
    totalPrice = {{bookInfo.bookPrice}}*{{count}};
</script>

<div class="container">
    <div class="d-flex justify-content-center mb-5">
        <h4>주문</h4>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div>
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center">
                    상품명
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                    작가
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                    가격
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                    수량
                    </div> 
                    <div class="col-md-2 d-flex justify-content-center">
                    합계
                    </div>
                </div>
                <hr>
                {{#bookInfo}}
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center">
                    {{bookName}}
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                    {{bookAuthor}}
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                    {{bookPrice}}
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                    {{count}}
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <script>
                            document.write(totalPrice);
                        </script>
                    </div>
                </div>
                {{/bookInfo}}
                <hr>
            </div>
            <div class="">
                <div class="border rounded mb-3">
                    <div class="mt-2 mb-3 d-flex justify-content-center border-bottom">
                        <h5>카드</h5>
                    </div>
                    <div>
                        <select name="cardSelect" id="cardSelect" class="custom-select">
                            <option value="none">카드를 선택해주세요</option>
                            {{#cardInfo}}
                                <script>
                                    document.write(`<option value="`+{{id}}+`">`+{{id}}+`/`+{{type}}+`</option>`);
                                </script>
                            {{/cardInfo}}
                        </select>
                    </div>
                </div>
                <div class="border rounded">
                    <div class="mt-2 mb-3 d-flex justify-content-center border-bottom">
                        <h5>주소</h5>
                    </div>
                    <div>
                        <select name="addrSelect" id="addrSelect" class="custom-select">
                            <option value="none">주소를 선택해주세요</option>
                            {{#addrInfo}}
                                <script>
                                    document.write(`<option value="`+{{uid}}+`">`+{{basicAddr}}+`/`+{{detailAddr}}+`</option>`);
                                </script>
                            {{/addrInfo}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 border rounded d-flex flex-column justify-content-around">
            <div class="mt-2 d-flex justify-content-center border-bottom">
                <h5>가격</h5>
            </div>
            <div class="row d-flex justify-content-between border-bottom">
                <div class="ml-2">
                    <span>상품단가</span>
                </div>
                <div class="mr-4">
                    <strong>{{bookInfo.bookPrice}}</strong>
                </div>
            </div>
            <div class="row d-flex justify-content-between border-bottom">
                <div class="ml-2">
                    <span>수량</span>
                </div>
                <div class="mr-4">
                    <strong>{{count}}</strong>
                </div>
            </div>
            <div class="row d-flex justify-content-between border-bottom">
                <div class="ml-2">
                    <span>합계</span>
                </div>
                <div class="mr-4">
                    <strong>
                        <script>
                            document.write(totalPrice);
                        </script>
                    </strong>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-md-6 p-1">
                    <button class="btn btn-outline-secondary btn-block" id="btn-order">주문</button>
                </div>
                <div class="col-md-6 p-1">
                    <button class="btn btn-outline-secondary btn-block" onclick=backLocation()>취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}