{{>layout/header}}
{{>layout/nav}}
<form class="form-signin" method="post" action="/users/login">
    <h1 class="h3 mb-3 font-weight-normal">로그인</h1>
    <label for="inputEmail" class="sr-only">아이디</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="아이디" required="" autofocus="">
    <label for="inputPassword" class="sr-only">비밀번호</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호" required="">
    <a href="/users/signup" >회원가입</a>
    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
</form>
{{>layout/footer}}